:root {
  --primary-color: 255, 0, 0;
}

body {
  background-color: #ffffff;
  color: #414141;
  font-family: sans-serif;
}

h1 {
  text-align: left;
  font-size: 3em;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.base {
  display: inline-block;
  border: 1px solid #a5a5a5;
  border-radius: 8px;
  padding: 10px;
  background-color: #ffffff;
  position: absolute;
  text-align: left;
  width: 500px;
}

.vledcontainer {
  background-color: black;
  margin-bottom: 10px;
  top: 100px;
}

.vledcontainer2 {
  background-color: black;
  margin-bottom: 10px;
  top: 300px;
}

.vledcontainer3 {
  background-color: black;
  margin-bottom: 10px;
  top: 600px;
}

#output {
  position: absolute;
  top: 420px;
  color: white;
  padding: 10px;
  width: 500px;
  height: 600px;
  background-color: black;
  border: 1px solid #a5a5a5;
  border-radius: 8px;
  overflow: auto;
}

input[type=number] {
  width: 40px;
}